body {
	height: 100vh;
	min-height: 100vh;
	display: flex;
	background-color: cornsilk;
	padding: 0;
	margin: 0;
}
main {
	width: 90%;
	font-size: 160%;
	margin: auto;
	padding: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
}
